/* * {
    font-family: 'Ibarra Real Nova', serif;
}

header {
    background-image: url(/assets/img/background.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio {
    background-size: cover;
    height: 100%;
}

body {
    background-color: gray;
    font-size: 25px;
}
.card{
    border: var(--bs-card-border-width) solid var(--bs-card-border-color)
}
.border_box {
    border: 1px;
    padding: 10px;
    margin: 15px;
} */